.grid {
    width: 200px;
    height: 400px;
    background-color: rgba(195, 197, 199, 0.993);
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
    
}

.tetromino {
    background-color: rgb(204, 161, 244);
}